.universe-bounds {
	pointer-events: none;
}

.universe-bounds img {
    position: absolute;
    top: 0.5em;
    left: 1em;
    height: 2em;
}

.universe-outline {
	width: 100%;
	height: 50%;
	position: absolute;
	border: 7px solid;
	box-sizing: border-box;
}

.universe-outline.alpha {
	top: 50%;
}

.alpha {
	border-color: #e00707
}

.beta {
	border-color: #4ac925;
}

svg {
  margin: 0;
  padding: 0;
}

.cover-tooltip {
  /*transition: 0s 500s opacity;*/
  font-family: OpenSans, sans-serif;
  font-size: 12px;
}

.cover-tooltip p {
  margin-top: .5em;
  margin-bottom: .5em;
}

.cover-tooltip.cover-tooltip-shown {
  /*opacity: 1;*/
}
