/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}

.cover-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.cover-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.cover-tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
